<h1>Detail employee</h1>


<div class="infoDetail">
    <form class="example-form">

        <table class="example-full-width" cellspacing="20">
            <tr>
                <td><mat-form-field class="example-full-width">
                        <mat-label>First name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Last Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Age</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Position</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Country</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>

            </tr>
        </table>
    </form>


    <div class="btnAct">
        <button mat-flat-button class="editE">Update information</button>
        <button mat-flat-button class="delE">Delete employee</button>
    </div>
</div>